DSE_TRANSPORT=jet
DSE_HOST=127.0.0.1
DSE_PORT=80
DSE_TLS=no
DSE_USER=Administrator
DSE_PASSWORD=wtx
DSE_PING_MS=5000
DSE_REQUEST_TIMEOUT_MS=3000
DSE_CONNECT_TIMEOUT_MS=10000
DSE_RECONNECT_INITIAL_MS=1000
DSE_RECONNECT_MAX_MS=30000
DSE_INTERVAL_MS=1000
DSE_LOG_LEVEL=2
DSE_JET_PATH=/jet/canopen
